In [43]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import time
from splinter import Browser

In [44]:
#pointing to the directory where chromedriver exists
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser("chrome", **executable_path, headless = False)

In [45]:
#url = 'https://www.remax.ca/ab/calgary-real-estate'
province_abb = input("Please enter the abbreviation of your province: ")
province_name = province_abb.lower()
city_name_input = input("Please enter city: ")
city_name = city_name_input.lower()
base_url = f'https://www.remax.ca/{province_name}/{city_name}-real-estate'
print(base_url)

Please enter the abbreviation of your province: ab
Please enter city: calgary
https://www.remax.ca/ab/calgary-real-estate

In [17]:
house_address = []
house_details = []


base_url = f'https://www.remax.ca/{province_name}/{city_name}-real-estate?page='
urls = [base_url + str(x) for x in range(1,51)]


for url in urls:
    
    browser.visit(url)
    time.sleep(5)
    
    # HTML Object
    html = browser.html

    # Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')

    addresses = soup.find_all('div', class_='left-content flex-one')
    for address in addresses:
        house_address.append(address.text)
        
    details = soup.find_all('div', class_='property-details')
    for detail in details:
        house_details.append(detail.text)

In [25]:
# house_address
# house_details

In [20]:
address_df = pd.DataFrame(house_address)

new_df = address_df[0].str.split(' ', 2, expand=True)

del new_df[0]
new_df.head()

          1                                                  2
0  $449,999          275 TARAVISTA ST NE, Calgary, AB, T3J 4S5
1  $489,000     140 CITADEL CREST CIR NW, Calgary, AB, T3G 4G3
2  $249,000    203 - 20 WALGROVE WALK SE, Calgary, AB, T2X 4L2
3  $609,900          49 EVANSRIDGE PL NW, Calgary, AB, T3P 0L4
4  $494,900  117 PRESTWICK ESTATE WAY SE, Calgary, AB, T2Z 3Z2

In [21]:
final_df = new_df[2].str.split(', Calgary, AB, ', expand=True)
# final_df = new_df[2].str.split(', Toronto, ON, ', expand=True)
final_df.head()

                             0        1
0          275 TARAVISTA ST NE  T3J 4S5
1     140 CITADEL CREST CIR NW  T3G 4G3
2    203 - 20 WALGROVE WALK SE  T2X 4L2
3          49 EVANSRIDGE PL NW  T3P 0L4
4  117 PRESTWICK ESTATE WAY SE  T2Z 3Z2

In [22]:
df_add = pd.concat([new_df, final_df], axis=1)
del df_add[2]
df_add.columns = ["Price", "Address", "Postal_Code"]
df_add.head()

      Price                      Address Postal_Code
0  $449,999          275 TARAVISTA ST NE     T3J 4S5
1  $489,000     140 CITADEL CREST CIR NW     T3G 4G3
2  $249,000    203 - 20 WALGROVE WALK SE     T2X 4L2
3  $609,900          49 EVANSRIDGE PL NW     T3P 0L4
4  $494,900  117 PRESTWICK ESTATE WAY SE     T2Z 3Z2

In [23]:
details = pd.DataFrame(house_details)

details_df = details[0].str.split('|', expand=True)
details_df

del details_df[2]

details_df.columns = ["Bedrooms", "Bath", "Type"]
details_df.head()

  Bedrooms        Bath   Type
0    5 bed  2 + 1 bath  house
1    3 bed  2 + 1 bath  house
2    2 bed      2 bath  condo
3    3 bed  2 + 1 bath  house
4    4 bed  3 + 1 bath  house

In [34]:
# toronto_df = pd.concat([df_add, details_df], axis=1)
# toronto_df.head()


calgary_df = pd.concat([df_add, details_df], axis=1)
calgary_df.head()

,Price,Address,Postal_Code,Bedrooms,Bath,Type
0,"$449,999",275 TARAVISTA ST NE,T3J 4S5,5 bed,2 + 1 bath,house
1,"$489,000",140 CITADEL CREST CIR NW,T3G 4G3,3 bed,2 + 1 bath,house
2,"$249,000",203 - 20 WALGROVE WALK SE,T2X 4L2,2 bed,2 bath,condo
3,"$609,900",49 EVANSRIDGE PL NW,T3P 0L4,3 bed,2 + 1 bath,house
4,"$494,900",117 PRESTWICK ESTATE WAY SE,T2Z 3Z2,4 bed,3 + 1 bath,house

----

### **Testing**

# Testing Walkscore Score

In [32]:


postal_code = input("Please enter your postal code: ")
if len(postal_code) != 7:
    print ("Error! Only 7 characters allowed! Please use the correct format")

Please enter your postal code: T2V 2L4

In [33]:
postal_code = postal_code.replace(" ", "%20")

In [52]:
url = "https://www.walkscore.com/score/" + str(postal_code)
print(url)

https://www.walkscore.com/score/T2V%202L4

# Code Starts here

In [26]:
post_code_list = []

for i in calgary_df["Postal_Code"]:
    post_code_list.append(i)
    
post_code_list

['T3J 4S5',
 'T3G 4G3',
 'T2X 4L2',
 'T3P 0L4',
 'T2Z 3Z2',
 'T2K 4M9',
 'T2B 2N9',
 'T3H 5L8',
 'T3G 1Z3',
 'T2Z 4R2',
 'T3J 4S5',
 'T3G 4G3',
 'T2X 4L2',
 'T3P 0L4',
 'T2Z 3Z2',
 'T2K 4M9',
 'T2B 2N9',
 'T3H 5L8',
 'T3G 1Z3',
 'T2Z 4R2',
 'T2V 2C3',
 'T3H 2J4',
 'T2B 2S7',
 'T2J 1M5',
 'T2R 1R3',
 'T3N 1M6',
 'T3J 3R6',
 None,
 'T2T 2J7',
 'T2J 5T3',
 'T3H 2J4',
 'T2P 4X2',
 'T3M 1W1',
 'T3J 3R6',
 None,
 'T2T 2J7',
 'T2Z 3Z2',
 'T3H 5L8',
 'T2R 1R3',
 'T2J 1M5',
 'T3M 0Z3',
 'T2P 4X2',
 'T3M 1W1',
 'T2H 1C2',
 None,
 'T2E 9C3',
 'T3E 0Y8',
 'T2E 3W8',
 'T2E 5A6',
 'T3E 6Z4',
 'T3K 0K8',
 'T3M 1B9',
 'T2B 1G6',
 'T1Y 3Y9',
 'T3H 3G7',
 'T2W 4H4',
 'T3C 2R3',
 'T3M 1Z9',
 'T3P 1J4',
 'T2E 9C4',
 'T3N 1M6',
 'T2J 5T3',
 'T3M 0Z3',
 'T2H 1C2',
 None,
 'T2E 9C3',
 'T3E 0Y8',
 'T2E 3W8',
 'T3E 6Z4',
 'T2E 5A6',
 'T3M 3B1',
 'T2Y 5H9',
 'T3E 8A9',
 None,
 'T2V 0P7',
 'T2T 4A9',
 'T3K 4T9',
 'T3B 6A1',
 'T3H 5E5',
 'T3L 2M2',
 'T2V 0V8',
 'T3B 4N3',
 'T2Y 0B8',
 'T3J 1A9',
 'T2V 3S8',
 'T3B 4Y6',
 'T3K 2M7',
 'T2C 1S3',
 'T2Z 1B6',
 'T2Y 0K7',
 'T3K 0K8',
 'T3M 1B9',
 'T2B 1G6',
 'T1Y 3Y9',
 'T3H 3G7',
 'T2W 4H4',
 'T3C 2R3',
 'T3M 1Z9',
 'T3P 1J4',
 'T2E 9C4',
 'T2J 7G4',
 'T2C 1S3',
 'T3J 0A1',
 'T3G 2T7',
 'T2N 3E1',
 None,
 'T3G 1V6',
 'T3H 0L1',
 'T2V 2L4',
 'T3E 6N7',
 'T2M 2C7',
 'T2R 0S5',
 'T3G 5Y4',
 'T2L 0G2',
 'T2P 5P6',
 'T2X 0V5',
 'T3N 1T2',
 'T2J 1R7',
 'T2W 4V6',
 'T2K 1A2',
 'T3M 3B1',
 'T2Y 5H9',
 'T3E 8A9',
 None,
 'T2V 0P7',
 'T2T 4A9',
 'T3K 4T9',
 'T3B 6A1',
 'T3H 5E5',
 'T3L 2M2',
 'T2W 0A4',
 'T3B 0H8',
 'T2N 0R9',
 'T3H 0C9',
 'T3H 4N6',
 'T3A 4Z8',
 'T3E 2K1',
 'T2C 0Z3',
 'T2V 5J8',
 'T3H 3S3',
 None,
 'T2K 1Y9',
 'T2B 0E4',
 'T2R 1S2',
 'T2L 2E3',
 'T2S 1Z5',
 'T3H 0K9',
 'T3E 7R6',
 'T3H 1Y1',
 'T2B 1V8',
 'T3R 0W7',
 'T2T 1S9',
 'T2W 5T3',
 'T2Z 2S7',
 'T3A 2H9',
 'T2E 4Y5',
 'T2X 4G3',
 None,
 'T2Y 0H1',
 'T2X 3K4',
 'T2M 1B3',
 'T3H 5Y1',
 'T2T 6E9',
 'T2X 4J8',
 'T2Z 0S4',
 'T3B 5B7',
 'T3J 3L4',
 'T3H 0A7',
 'T2T 0H1',
 'T2R 1A7']

In [35]:
score_list = []

for i in post_code_list:
    try:
        postal_code = i.replace(" ", "%20")
        url = "https://www.walkscore.com/score/" + str(postal_code)

        executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
        browser = Browser("chrome", **executable_path, headless = True)

        browser.visit(url)
    #     time.sleep(2)

        # HTML Object
        code_html = browser.html

        # Parse HTML with Beautiful Soup
        code_soup = BeautifulSoup(code_html, 'html.parser')

        walk_score1 = code_soup.find_all('div', class_='clearfix score-div')
        time.sleep(1)

        walk_score_list = []

        for j in walk_score1:
            walk_score_list.append(j.img['alt'])

            scores = []

            for k in walk_score_list:
                number = k.split(" ")[0]
                scores.append(number)


        score_list.append(scores)
        
    except AttributeError:
        empty = []
        score_list.append(empty)
        
#         print("None")

In [42]:
# print(score_list)

In [37]:
len(score_list)

170

In [38]:
score_df = pd.DataFrame(score_list, columns=['Walk Score', 'Transit Score', 'Bike Score'])
score_df.head()

  Walk Score Transit Score Bike Score
0         10            49         62
1         23            38         65
2          9            25         37
3          0             0         30
4         39            44         64

In [39]:
# copy_dd_test = data_dump1_test.copy()
# copy_dd_test.head()

In [41]:

new_df = pd.concat([calgary_df, score_df], axis=1)
new_df.head()

,Price,Address,Postal_Code,Bedrooms,Bath,Type,Walk Score,Transit Score,Bike Score
0,"$449,999",275 TARAVISTA ST NE,T3J 4S5,5 bed,2 + 1 bath,house,10,49,62
1,"$489,000",140 CITADEL CREST CIR NW,T3G 4G3,3 bed,2 + 1 bath,house,23,38,65
2,"$249,000",203 - 20 WALGROVE WALK SE,T2X 4L2,2 bed,2 bath,condo,9,25,37
3,"$609,900",49 EVANSRIDGE PL NW,T3P 0L4,3 bed,2 + 1 bath,house,0,0,30
4,"$494,900",117 PRESTWICK ESTATE WAY SE,T2Z 3Z2,4 bed,3 + 1 bath,house,39,44,64

https://www.walkscore.com/score/t2m%202c7