In [81]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import time
from splinter import Browser
import warnings
warnings.filterwarnings('ignore')

In [82]:
#pointing to the directory where chromedriver exists
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser("chrome", **executable_path, headless = False)

In [83]:
#url = 'https://www.remax.ca/ab/calgary-real-estate'
province_abb = input("Please enter the abbreviation of your province: ")
province_name = province_abb.lower()
city_name_input = input("Please enter city: ")
city_name = city_name_input.lower()
base_url = f'https://www.remax.ca/{province_name}/{city_name}-real-estate'
print(base_url)

Please enter the abbreviation of your province: ab
Please enter city: calgary
https://www.remax.ca/ab/calgary-real-estate

In [84]:
house_address = []
house_details = []


base_url = f'https://www.remax.ca/{province_name}/{city_name}-real-estate?page='
urls = [base_url + str(x) for x in range(1,6)]


for url in urls:
    
    browser.visit(url)
    time.sleep(5)
    
    # HTML Object
    html = browser.html

    # Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')

    addresses = soup.find_all('div', class_='left-content flex-one')
    for address in addresses:
        house_address.append(address.text)
        
    details = soup.find_all('div', class_='property-details')
    for detail in details:
        house_details.append(detail.text)

In [85]:
# house_address
# house_details

In [86]:
address_df = pd.DataFrame(house_address)

new_df = address_df[0].str.split(' ', 2, expand=True)

del new_df[0]
new_df.head()

          1                                             2
0  $489,900        9803 ELBOW DR SW, Calgary, AB, T2V 1M4
1  $369,900           5508 5 AVE SE, Calgary, AB, T2A 4E3
2  $544,500    52 RIVERVIEW MEWS SE, Calgary, AB, T2C 3Z8
3  $399,900  25 HARVEST GLEN WAY NE, Calgary, AB, T3K 4J2
4  $429,500    32 EVERGLEN GROVE SW, Calgary, AB, T2Y 4Z3

In [87]:
final_df = new_df[2].str.split(', Calgary, AB, ', expand=True)
# final_df = new_df[2].str.split(', Toronto, ON, ', expand=True)
final_df.head()

                        0        1
0        9803 ELBOW DR SW  T2V 1M4
1           5508 5 AVE SE  T2A 4E3
2    52 RIVERVIEW MEWS SE  T2C 3Z8
3  25 HARVEST GLEN WAY NE  T3K 4J2
4    32 EVERGLEN GROVE SW  T2Y 4Z3

In [88]:
df_add = pd.concat([new_df, final_df], axis=1)
del df_add[2]
df_add.columns = ["Price", "Address", "Postal_Code"]
df_add.head()

      Price                 Address Postal_Code
0  $489,900        9803 ELBOW DR SW     T2V 1M4
1  $369,900           5508 5 AVE SE     T2A 4E3
2  $544,500    52 RIVERVIEW MEWS SE     T2C 3Z8
3  $399,900  25 HARVEST GLEN WAY NE     T3K 4J2
4  $429,500    32 EVERGLEN GROVE SW     T2Y 4Z3

In [89]:
details = pd.DataFrame(house_details)

details_df = details[0].str.split('|', expand=True)
details_df

del details_df[2]

details_df.columns = ["Bedrooms", "Bath", "Type"]
details_df.head()

  Bedrooms        Bath   Type
0    4 bed      2 bath  house
1    3 bed  2 + 1 bath  house
2    4 bed      3 bath  house
3    3 bed      2 bath  house
4    3 bed  2 + 1 bath  house

In [90]:
# toronto_df = pd.concat([df_add, details_df], axis=1)
# toronto_df.head()


calgary_df = pd.concat([df_add, details_df], axis=1)
calgary_df.head()

      Price                 Address Postal_Code Bedrooms        Bath   Type
0  $489,900        9803 ELBOW DR SW     T2V 1M4    4 bed      2 bath  house
1  $369,900           5508 5 AVE SE     T2A 4E3    3 bed  2 + 1 bath  house
2  $544,500    52 RIVERVIEW MEWS SE     T2C 3Z8    4 bed      3 bath  house
3  $399,900  25 HARVEST GLEN WAY NE     T3K 4J2    3 bed      2 bath  house
4  $429,500    32 EVERGLEN GROVE SW     T2Y 4Z3    3 bed  2 + 1 bath  house

----

### **Testing**

# Testing Walkscore Score

In [32]:


postal_code = input("Please enter your postal code: ")
if len(postal_code) != 7:
    print ("Error! Only 7 characters allowed! Please use the correct format")

Please enter your postal code: T2V 2L4

In [33]:
postal_code = postal_code.replace(" ", "%20")

In [52]:
url = "https://www.walkscore.com/score/" + str(postal_code)
print(url)

https://www.walkscore.com/score/T2V%202L4

# Code Starts here

In [91]:
post_code_list = []

for i in calgary_df["Postal_Code"]:
    post_code_list.append(i)
    
post_code_list

['T2V 1M4',
 'T2A 4E3',
 'T2C 3Z8',
 'T3K 4J2',
 'T2Y 4Z3',
 'T3G 4G3',
 'T3J 4S5',
 'T2Z 2C5',
 'T3B 4W4',
 'T3H 2L4',
 'T2V 1M4',
 'T2A 4E3',
 'T2C 3Z8',
 'T3K 4J2',
 'T2Y 4Z3',
 'T3G 4G3',
 'T3J 4S5',
 'T2Z 2C5',
 'T3B 4W4',
 'T3H 2L4',
 'T2B 2L4',
 'T3A 6A3',
 'T3A 2R7',
 'T3E 4Z5',
 'T3A 2V9',
 'T2L 1S3',
 'T3H 5C9',
 'T3K 5S8',
 'T2C 3X8',
 None,
 'T2B 2L4',
 'T3A 6A3',
 'T3A 2R7',
 'T3E 4Z5',
 'T3A 2V9',
 'T2L 1S3',
 'T3H 5C9',
 'T3K 5S8',
 'T2C 3X8',
 None,
 'T3M 1V2',
 'T2C 3V6',
 'T3E 6H5',
 'T3H 0A7',
 'T2Z 0B8',
 'T2Z 1J2',
 'T2A 7K1',
 'T2R 1K6',
 'T3K 4Z8',
 'T3H 5N5',
 'T1Y 2Z7',
 'T3H 3V2',
 'T3K 4R9',
 'T3E 5Y7',
 'T2Y 3A2',
 'T3C 1W8',
 None,
 'T2P 5M5',
 'T2R 1S6',
 'T2S 3E7',
 'T3M 1V2',
 'T2C 3V6',
 'T3E 6H5',
 'T3H 0A7',
 'T2Z 0B8',
 'T2Z 1J2',
 'T2A 7K1',
 'T2R 1K6',
 'T3K 4Z8',
 'T3H 5N5',
 'T2R 0W8',
 'T2Z 2T2',
 'T2H 0V8',
 'T3H 4W5',
 'T3K 0B6',
 'T2T 0W1',
 'T2J 0T3',
 'T2E 2T8',
 'T3N 0T9',
 'T2X 3R3',
 'T3A 2K6',
 'T3K 4W3',
 'T3E 2J4',
 'T2A 6G8',
 'T2X 1K9',
 'T2J 3H1',
 'T3N 0A8',
 'T2G 1L7',
 'T1Y 2Z1',
 'T2J 1A8',
 'T1Y 2Z7',
 'T3H 3V2',
 'T3K 4R9',
 'T2Y 3A2',
 'T3E 5Y7',
 'T3C 1W8',
 None,
 'T2R 1S6',
 'T2S 3E7',
 'T2P 5M5',
 'T2J 0B8',
 'T2Z 3N6',
 'T3H 0E3',
 'T3H 5M2',
 'T2T 2B4',
 'T3M 1E4',
 'T2N 1E4',
 'T2Y 3R4',
 'T2T 3B4',
 'T3C 0X9',
 'T3R 0M7',
 'T3H 1R3',
 'T3K 5V3',
 'T2Y 3L5',
 'T2Y 5A5',
 'T3N 1S7',
 'T2T 4S4',
 'T3P 0L4',
 'T2X 4L2',
 'T3H 5V5',
 'T2R 0W8',
 'T2Z 2T2',
 'T2H 0V8',
 'T3H 4W5',
 'T3K 0B6',
 'T2T 0W1',
 'T2J 0T3',
 'T2E 2T8',
 'T3N 0T9',
 'T2X 3R3',
 'T3H 4N1',
 'T2J 6C8',
 'T2K 5S3',
 'T2V 4G4',
 'T3H 2P5',
 'T1Y 7L1',
 'T3E 2Z5',
 'T2G 4L1',
 'T2H 3B3',
 'T2K 2H8',
 'T2N 3R7',
 'T2W 0J6',
 'T2Y 2G4',
 'T2V 0A6',
 'T2X 1Y7',
 'T2Z 0B9',
 'T2Z 2R3',
 'T3R 0Z9',
 'T3K 0N2',
 'T3G 4C9']

In [102]:
len(post_code_list)

150

# from hyphen import Hyphenator

score_list = []

for i in ['T2J 0T3', 'T2G 1L7']:

    postal_code = i.replace(" ", "%20")
    url = "https://www.walkscore.com/score/" + str(postal_code)

    executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
    browser = Browser("chrome", **executable_path, headless = True)

    browser.visit(url)
    time.sleep(2)
    

    # HTML Object
    code_html = browser.html

    # Parse HTML with Beautiful Soup
    code_soup = BeautifulSoup(code_html, 'html.parser')

    walk_score1 = code_soup.find_all('div', class_='clearfix score-div')
        
#     walkscore = code_soup.find('div', dataeventsrc="score page walk badge")
#     transitscore = code_soup.find('div', eventsrc = "score page transit badge")
#     bikescore = code_soup.find('div', eventsrc = "score page bike badge")
    time.sleep(3)

walk_score1
# walkscore

walk_score1

ws_list2 = []
# walk = []
# transit = []
# bike = []

for j in walk_score1:
    ws_list2.append(j.img['alt'])
#     scores = []

ws_list2

walk = []
transit = []
bike = []
empty = '0'

if "Walk" in ws_list2[0]:
    ws = ws_list2[0].split(" ")[0]        
    walk.append(ws)
else:
    walk.append(empty)
if "Transt" in ws_list2[1]:
    ts = ws_list2[1].split(" ")[0] 
    transit.append(ts)
else:
    transit.append(empty)
if "Bike" in ws_list2[2]:
    bs = ws_list2[2].split(" ")[0] 
    bike.append(bs)
else:
    bike.append(empty)

In [98]:
# score_list = []
walk = []
transit = []
bike = []
empty = '0'

for i in post_code_list:
    try:
        postal_code = i.replace(" ", "%20")
        url = "https://www.walkscore.com/score/" + str(postal_code)

        executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
        browser = Browser("chrome", **executable_path, headless = True)

        browser.visit(url)
    #     time.sleep(2)
    

        # HTML Object
        code_html = browser.html

        # Parse HTML with Beautiful Soup
        code_soup = BeautifulSoup(code_html, 'html.parser')
        time.sleep(3)
        
        walk_score1 = code_soup.find_all('div', class_='clearfix score-div')
        time.sleep(1)

        walk_score_list = []

        for j in walk_score1:
            walk_score_list.append(j.img['alt'])


        if "Walk" in walk_score_list[0]:
            ws = walk_score_list[0].split(" ")[0]        
            walk.append(ws)
        else:
            walk.append(empty)
        if "Transit" in walk_score_list[1]:
            ts = walk_score_list[1].split(" ")[0]
            transit.append(ts)
        else:
            transit.append(empty)
        if "Bike" in walk_score_list[2]:
            bs = walk_score_list[2].split(" ")[0]
            bike.append(bs)
        else:
            bike.append(empty)
            time.sleep(2)

            
        
    except AttributeError:
        walk.append(empty)
        transit.append(empty)
        bike.append(empty)
        
#         empty = []
#         score_list.append(empty)

In [99]:
walk_score_list

['40 Walk Score of this location',
 '34 Transit Score of this location',
 '54 Bike Score of this location']

In [101]:
len(bike)

150

In [66]:
walk_score1

[<div class="clearfix score-div"> <div class="block-header-badge score-info-link" data-eventsrc="score page walk badge"> <!--[if lte IE 8]><img src="//pp.walk.sc/badge/walk/score/18.png" alt="18 Walk Score of this location"><![endif]--> <!--[if gt IE 8]><img src="//pp.walk.sc/badge/walk/score/18.svg" alt="18 Walk Score of this location"><![endif]--> <!--[if !IE]> <!-- --><img alt="18 Walk Score of this location" src="//pp.walk.sc/badge/walk/score/18.svg"/><!-- <![endif]--> </div> <h5 class="tight-bot">Car-Dependent</h5> <p class="med-tight-top tight-bot medsmallfont light">Almost all errands require a car.</p> </div>,
 <div class="clearfix score-div"> <div class="block-header-badge score-info-link" data-eventsrc="score page transit badge" data-type="transit" style="padding-bottom: 10px"> <!--[if lte IE 8]><img src="//pp.walk.sc/badge/transit/score/34.png" alt="34 Transit Score of this location"><![endif]--> <!--[if gt IE 8]><img src="//pp.walk.sc/badge/transit/score/34.svg" alt="34 Transit Score of this location"><![endif]--> <!--[if !IE]> <!-- --><img alt="34 Transit Score of this location" src="//pp.walk.sc/badge/transit/score/34.svg"/><!-- <![endif]--> </div> <h5 class="tight-bot">Some Transit</h5> <p class="med-tight-top tight-bot medsmallfont light">A few nearby public transportation options.</p> </div>,
 <div class="clearfix score-div"> <div class="block-header-badge score-info-link" data-eventsrc="score page bike badge" data-type="bike" style="padding-bottom: 10px"> <!--[if lte IE 8]><img src="//pp.walk.sc/badge/bike/score/65.png" alt="65 Bike Score of this location"><![endif]--> <!--[if gt IE 8]><img src="//pp.walk.sc/badge/bike/score/65.svg" alt="65 Bike Score of this location"><![endif]--> <!--[if !IE]> <!-- --><img alt="65 Bike Score of this location" src="//pp.walk.sc/badge/bike/score/65.svg"/><!-- <![endif]--> </div> <h5 class="tight-bot">Bikeable</h5> <p class="med-tight-top tight-bot medsmallfont light">Some bike infrastructure.</p> </div>]

In [ ]:
score_list = []

for i in post_code_list:
    try:
        postal_code = i.replace(" ", "%20")
        url = "https://www.walkscore.com/score/" + str(postal_code)

        executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
        browser = Browser("chrome", **executable_path, headless = True)

        browser.visit(url)
    #     time.sleep(2)
    

        # HTML Object
        code_html = browser.html

        # Parse HTML with Beautiful Soup
        code_soup = BeautifulSoup(code_html, 'html.parser')

        walk_score1 = code_soup.find_all('div', class_='clearfix score-div')
        time.sleep(1)

        walk_score_list = []

        for j in walk_score1:
            walk_score_list.append(j.img['alt'])

            scores = []

            for k in walk_score_list:
                number = k.split(" ")[0]
                scores.append(number)


        score_list.append(scores)
        
    except AttributeError:
        empty = []
        score_list.append(empty)

In [79]:
score_list = []

for i in ['T3E 7Z1']:
    try:
        postal_code = i.replace(" ", "%20")
        url = "https://www.walkscore.com/score/" + str(postal_code)

        executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
        browser = Browser("chrome", **executable_path, headless = True)

        browser.visit(url)
    #     time.sleep(2)
    
        browser.find_by_id("addrbar-street").fill(i)

        browser.click_link_by_partial_text("Go")
        
        time.sleep(4)

        # HTML Object
        code_html = browser.html

        # Parse HTML with Beautiful Soup
        code_soup = BeautifulSoup(code_html, 'html.parser')

        walk_score1 = code_soup.find_all('div', class_='clearfix score-div')
        time.sleep(1)

        walk_score_list = []

        for j in walk_score1:
            walk_score_list.append(j.img['alt'])

            scores = []

            for k in walk_score_list:
                number = k.split(" ")[0]
                scores.append(number)


        score_list.append(scores)
        
    except AttributeError:
        empty = []
        score_list.append(empty)

/Users/dayothompson/opt/anaconda3/lib/python3.7/site-packages/splinter/driver/webdriver/__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [86]:
walk_score_list

['51 Walk Score of this location', '60 Bike Score of this location']

In [1]:
ws_list = ['51 Walk Score of this location', '60 Bike Score of this location']

In [3]:
walk_list = []

for k in ws_list:
    if "Walk" not in k[0] or "Bike" not in k[1] or "Transit" not in k:
        walk_list.append("N/A")
    else:       
        number = k.split(" ")[0]
        walk_list.append(number)
        
walk_list

['N/A', 'N/A']

In [99]:
walk_list = []
# bike_list = []
# trans_list = []

# walk_score_list
#for i in walk_score_list:
# if "Walk" in walk_score_list:
#     number = walk_score_list.split(" ")[0]
#     walk_list.append(number)
# else:
#     walk_list.append('N/A')
#         walk_list.append('0')
walk_list

AttributeError: 'list' object has no attribute 'split'

In [76]:
score_list

[['23', '38', '65'],
 ['10', '49', '62'],
 ['22', '41', '65'],
 ['43', '47', '67'],
 ['37', '48', '71'],
 ['51', '60'],
 ['1', '26', '36'],
 ['35', '37', '72'],
 ['9', '30', '45'],
 ['12', '37', '53'],
 ['23', '38', '65'],
 ['10', '49', '62'],
 ['22', '41', '65'],
 ['43', '47', '67'],
 ['37', '48', '71'],
 ['51', '60'],
 ['1', '26', '36'],
 ['35', '37', '72'],
 ['9', '30', '45'],
 ['12', '37', '53'],
 ['45', '46', '55'],
 [],
 [],
 ['30', '41', '70'],
 ['94', '76', '94'],
 ['86', '69', '99'],
 ['3', '27', '37'],
 ['17', '44', '48'],
 ['1', '35', '61'],
 ['9', '36', '56'],
 ['45', '46', '55'],
 [],
 [],
 ['30', '41', '70'],
 ['94', '76', '94'],
 ['86', '69', '99'],
 ['3', '27', '37'],
 ['17', '44', '48'],
 ['1', '35', '61'],
 ['9', '36', '56'],
 ['91', '71', '97'],
 ['Walk', 'Transit', 'Bike'],
 ['49', '31', '62'],
 ['41', '42', '74'],
 ['91', '67', '97'],
 ['63', '50', '63'],
 ['18', '34', '65'],
 ['39', '61', '78'],
 ['72', '76', '92'],
 ['Walk', 'Transit', 'Bike'],
 ['41', '53', '59'],
 ['13', '46', '64'],
 ['47', '33', '64'],
 ['30', '33', '70'],
 ['36', '53', '75'],
 ['50', '49', '75'],
 ['16', '28', '46'],
 ['7', '33', '41'],
 ['14', '34', '49'],
 ['78', '53', '86'],
 ['89', '73', '96'],
 ['31', '37', '77'],
 ['49', '31', '62'],
 ['41', '42', '74'],
 ['91', '67', '97'],
 ['63', '50', '63'],
 ['18', '34', '65'],
 ['39', '61', '78'],
 ['72', '76', '92'],
 ['87', '60', '89'],
 ['0', '0', '30'],
 ['43', '52', '66'],
 ['45', '54', '67'],
 ['9', '25', '37'],
 ['19', '37', '50'],
 ['7', '27', '19'],
 ['26', '49', '69'],
 ['0', '29', '60'],
 ['33', '49', '62'],
 ['25', '48', '64'],
 ['22', '60', '63'],
 ['30', '44', '72'],
 ['53', '54', '90'],
 ['3', '22', '43'],
 ['14', '25', '46'],
 ['Walk', 'Transit', 'Bike'],
 ['50', '50', '78'],
 ['16', '49', '49'],
 ['79', '64', '91'],
 ['68', '44', '81'],
 ['87', '60', '89'],
 ['13', '46', '64'],
 ['47', '33', '64'],
 ['30', '33', '70'],
 ['36', '53', '75'],
 ['50', '49', '75'],
 ['16', '28', '46'],
 ['7', '33', '41'],
 ['14', '34', '49'],
 ['78', '53', '86'],
 ['22', '32', '51'],
 ['36', '56', '75'],
 ['57', '47', '73'],
 ['12', '43', '53'],
 ['42', '31', '65'],
 ['9', '20'],
 ['19', '53', '43'],
 ['39', '44', '64'],
 ['91', '65', '97'],
 [],
 ['32', '46', '61'],
 ['25', '57', '65'],
 ['1', '26', '61'],
 ['41', '43', '83'],
 ['4', '24', '55'],
 ['23', '32', '65'],
 ['Walk', 'Transit', 'Bike'],
 ['4', '27', '57'],
 ['35', '47', '57'],
 ['11', '34', '44'],
 ['0', '0', '30'],
 ['45', '54', '67'],
 ['9', '25', '37'],
 ['43', '52', '66'],
 ['19', '37', '50'],
 ['7', '27', '19'],
 ['25', '48', '64'],
 ['26', '49', '69'],
 ['0', '29', '60'],
 ['30', '44', '72'],
 ['8', '34', '55'],
 ['35', '49', '61'],
 ['79', '73', '95'],
 ['21', '41', '74'],
 ['43', '35', '68'],
 ['64', '58', '95'],
 ['72', '57', '99'],
 ['55', '46', '72'],
 ['14', '30', '39'],
 ['13', '35', '60'],
 ['8', '34', '55'],
 ['39', '41', '78'],
 ['7', '33', '63'],
 ['25', '39', '61'],
 ['70', '52', '62'],
 ['0', '0', '30'],
 [],
 ['76', '71', '93'],
 ['68', '53', '67'],
 ['72', '57', '99']]

In [69]:
url = "https://www.walkscore.com/score/"
    
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser("chrome", **executable_path, headless = False)

browser.visit(url)
#     time.sleep(2)

# HTML Object
code_html = browser.html

# Parse HTML with Beautiful Soup
code_soup = BeautifulSoup(code_html, 'html.parser')

In [70]:


postcode = ['T3N 1M6', 'T2E 3W8']

for i in postcode:
    

    browser.find_by_id("addrbar-street").fill(i)

    browser.click_link_by_partial_text("Go")
    
    time.sleep(3)

In [ ]:
score_list = []
for i in post_code_list_3:
    try:
        #postal_code = i.replace(” “, “%20”)
        #url_score = “https://www.walkscore.com/score/” + str(postal_code)
        #executable_path = {‘executable_path’: ‘/usr/local/bin/chromedriver’}
        time.sleep(2)
        browser = Browser(‘chrome’, headless = False)
        url_walk = ‘https://www.walkscore.com/score/’
        browser.visit(url_walk)
        browser.find_by_id(“gs-street”).fill(i)
        browser.click_link_by_partial_text(“Go”)
        time.sleep(3)
        # HTML Object
        code_html = browser.html
        browser.quit()
        # Parse HTML with Beautiful Soup
        response = requests.get(code_html)
        code_soup = BeautifulSoup(response.text, ‘html.parser’)
        walk_score1 = code_soup.find_all(‘div’, class_=‘clearfix score-div’)
        time.sleep(1)
        walk_score_list = []
        for j in walk_score1:
            walk_score_list.append(j.img[‘alt’])
            scores = []
            for k in walk_score_list:
                number = k.split(” “)[0]
                scores.append(number)
        score_list.append(scores)
    except AttributeError:
        empty = []
        score_list.append(empty)

In [ ]:
browser.

In [ ]:

for i in post_code_list:
    try:
        postal_code = i.replace(" ", "%20")
#         url = "https://www.walkscore.com/score/" + str(postal_code)
        url = "https://www.walkscore.com/score/"
    
        executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
        browser = Browser("chrome", **executable_path, headless = True)

        browser.visit(url)
    #     time.sleep(2)

        # HTML Object
        code_html = browser.html

        # Parse HTML with Beautiful Soup
        code_soup = BeautifulSoup(code_html, 'html.parser')

        walk_score1 = code_soup.find_all('div', class_='clearfix score-div')
        time.sleep(1)

        walk_score_list = []

        for j in walk_score1:
            walk_score_list.append(j.img['alt'])

            scores = []

            for k in walk_score_list:
                number = k.split(" ")[0]
                scores.append(number)


        score_list.append(scores)
        
    except AttributeError:
        empty = []
        score_list.append(empty)

In [ ]:
score_list = []
for i in post_code_list:
    try:
#         postal_code = i.replace(" ", "%20")
        url_score = "https://www.walkscore.com/score/"" + str(postal_code)
        #executable_path = {‘executable_path’: ‘/usr/local/bin/chromedriver’}
        browser = Browser(‘chrome’, headless = False)
        browser.visit(url)
        pst_code = browser.find_by_id(“addrbar-street”).fill(i)
        submit = browser.find_by_partial_text(“Go”).first.click()
        time.sleep(2)
        # HTML Object
        code_html = browser.html
        # Parse HTML with Beautiful Soup
        response = requests.get(code_html)
        code_soup = BeautifulSoup(response.text, ‘html.parser’)
        walk_score1 = code_soup.find_all(‘div’, class_=‘clearfix score-div’)
        time.sleep(1)
        walk_score_list = []
        for j in walk_score1:
            walk_score_list.append(j.img[‘alt’])
            scores = []
            for k in walk_score_list:
                number = k.split(” “)[0]
                scores.append(number)
        score_list.append(scores)
    except AttributeError:
        empty = []
        score_list.append(empty)
    browser.quit()

In [42]:
# print(score_list)

In [37]:
len(score_list)

170

In [38]:
score_df = pd.DataFrame(score_list, columns=['Walk Score', 'Transit Score', 'Bike Score'])
score_df.head()

  Walk Score Transit Score Bike Score
0         10            49         62
1         23            38         65
2          9            25         37
3          0             0         30
4         39            44         64

In [39]:
# copy_dd_test = data_dump1_test.copy()
# copy_dd_test.head()

In [41]:

new_df = pd.concat([calgary_df, score_df], axis=1)
new_df.head()

,Price,Address,Postal_Code,Bedrooms,Bath,Type,Walk Score,Transit Score,Bike Score
0,"$449,999",275 TARAVISTA ST NE,T3J 4S5,5 bed,2 + 1 bath,house,10,49,62
1,"$489,000",140 CITADEL CREST CIR NW,T3G 4G3,3 bed,2 + 1 bath,house,23,38,65
2,"$249,000",203 - 20 WALGROVE WALK SE,T2X 4L2,2 bed,2 bath,condo,9,25,37
3,"$609,900",49 EVANSRIDGE PL NW,T3P 0L4,3 bed,2 + 1 bath,house,0,0,30
4,"$494,900",117 PRESTWICK ESTATE WAY SE,T2Z 3Z2,4 bed,3 + 1 bath,house,39,44,64

In [ ]:
from flask import Flask, render_template
# from flask_pymongo import PyMongo
# from flask_sqlalchemy import SQLAlchemy
from sqlalchemy.orm import sessionmaker
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [104]:
engine = create_engine("postgresql://postgres:123@localhost:5432/realestate_db")

Session = sessionmaker(bind=engine)
session = Session()


# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

NameError: name 'sessionmaker' is not defined

In [ ]:
app.config["SQLALCHEMY_DATABASE_URI"] ="postgresql://postgres:123@localhost:5432/realestate_db"
db = SQLAlchemy(app)

https://www.walkscore.com/score/t2m%202c7