In [35]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import time
from splinter import Browser

In [37]:
#url = 'https://www.remax.ca/ab/calgary-real-estate'
city_name_input = input("Please enter city: ")
city_name = city_name_input.lower()
url = f'https://www.remax.ca/ab/{city_name}-real-estate'

Please enter city: calgary

In [38]:
page = requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")
#print(soup.prettify())

In [39]:
def parse(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    df = pd.DataFrame(columns=["Bed","Bath","SQFT","Type"])
    for each in soup.find_all(class_= "card-text ng-star-inserted" ):
        try: 
            title = each.find(class_='price').text.replace('\n', '')
        except:
            title = 'None'
        try:
            location = each.find(class_="address ng-star-inserted").text.replace('\n', '')
        except:
            location = 'None'
        try: 
            company = each.find(class_='mlsNumber').text.replace('\n', '')
        except:
            company = 'None'
        try:
            salary = each.find(class_='content-bottom is-flex ng-star-inserted').text
        except:
            salary = 'None'
        #synopsis = each.find('span', {'class':'summary'}).text.replace('\n', '')
        df = df.append({'Bed':title, 'Bath':location, 'SQFT':company, 'Type':salary}, ignore_index=True)
    return df

In [40]:
a = url + '?page='
#url_dump = []
#for i in range(148):
data_dump = pd.DataFrame([])
for i in range(1,2):
    time.sleep(5)
    url_dump1 = a+(f'{i:1}')
    df_dump1 = parse(url_dump1)
    data_dump = data_dump.append(df_dump1)
data_dump.head()

,Bed,Bath,SQFT,Type
0,"$318,000","21 - 64 WOODACRES CRES SW, Calgary, AB, T2W 4V6",MLS® #: A1022652,3 bed|2 + 1 bath|1136 sqft|townhouse
1,"$269,900","808 - 8710 HORTON RD SW, Calgary, AB, T2V 0P7",MLS® #: A1022514,2 bed|2 bath|968 sqft|condo
2,"$1,100,000","3406 - 210 15 AVE SE, Calgary, AB, T2G 0B5",MLS® #: A1021814,3 bed|2 + 1 bath|1915 sqft|condo
3,"$365,000","275 TARALAKE TERR NE, Calgary, AB, T3J 0A1",MLS® #: A1021788,4 bed|2 + 1 bath|1263 sqft|house
4,"$439,900","111 HAWKHILL CRT NW, Calgary, AB, T3G 2T7",MLS® #: A1022397,4 bed|2 + 1 bath|1621 sqft|house

In [41]:
data1a = data_dump.replace('N/A sqft',np.nan, regex=True)
data1a.head()

,Bed,Bath,SQFT,Type
0,"$318,000","21 - 64 WOODACRES CRES SW, Calgary, AB, T2W 4V6",MLS® #: A1022652,3 bed|2 + 1 bath|1136 sqft|townhouse
1,"$269,900","808 - 8710 HORTON RD SW, Calgary, AB, T2V 0P7",MLS® #: A1022514,2 bed|2 bath|968 sqft|condo
2,"$1,100,000","3406 - 210 15 AVE SE, Calgary, AB, T2G 0B5",MLS® #: A1021814,3 bed|2 + 1 bath|1915 sqft|condo
3,"$365,000","275 TARALAKE TERR NE, Calgary, AB, T3J 0A1",MLS® #: A1021788,4 bed|2 + 1 bath|1263 sqft|house
4,"$439,900","111 HAWKHILL CRT NW, Calgary, AB, T3G 2T7",MLS® #: A1022397,4 bed|2 + 1 bath|1621 sqft|house

In [42]:
data2 = data1a.dropna()
data2.head()

,Bed,Bath,SQFT,Type
0,"$318,000","21 - 64 WOODACRES CRES SW, Calgary, AB, T2W 4V6",MLS® #: A1022652,3 bed|2 + 1 bath|1136 sqft|townhouse
1,"$269,900","808 - 8710 HORTON RD SW, Calgary, AB, T2V 0P7",MLS® #: A1022514,2 bed|2 bath|968 sqft|condo
2,"$1,100,000","3406 - 210 15 AVE SE, Calgary, AB, T2G 0B5",MLS® #: A1021814,3 bed|2 + 1 bath|1915 sqft|condo
3,"$365,000","275 TARALAKE TERR NE, Calgary, AB, T3J 0A1",MLS® #: A1021788,4 bed|2 + 1 bath|1263 sqft|house
4,"$439,900","111 HAWKHILL CRT NW, Calgary, AB, T3G 2T7",MLS® #: A1022397,4 bed|2 + 1 bath|1621 sqft|house

In [43]:
data3 = data2['Type'].str.split('|', expand=True)
data3.head()

       0           1          2          3
0  3 bed  2 + 1 bath  1136 sqft  townhouse
1  2 bed      2 bath   968 sqft      condo
2  3 bed  2 + 1 bath  1915 sqft      condo
3  4 bed  2 + 1 bath  1263 sqft      house
4  4 bed  2 + 1 bath  1621 sqft      house

In [44]:
data3_adr = data2['Bath'].str.split(',', expand=True)
data3_adr.head()

                           0         1    2         3
0  21 - 64 WOODACRES CRES SW   Calgary   AB   T2W 4V6
1    808 - 8710 HORTON RD SW   Calgary   AB   T2V 0P7
2       3406 - 210 15 AVE SE   Calgary   AB   T2G 0B5
3       275 TARALAKE TERR NE   Calgary   AB   T3J 0A1
4        111 HAWKHILL CRT NW   Calgary   AB   T3G 2T7

In [46]:
data_dump1_test = data_dump['Bath'].str.split(', Calgary, AB, ', expand=True).copy()
data_dump1_test.head()

                           0        1
0  21 - 64 WOODACRES CRES SW  T2W 4V6
1    808 - 8710 HORTON RD SW  T2V 0P7
2       3406 - 210 15 AVE SE  T2G 0B5
3       275 TARALAKE TERR NE  T3J 0A1
4        111 HAWKHILL CRT NW  T3G 2T7

In [42]:
data4 = data2.replace('MLS® #: ','', regex=True)
data4.head()

,Bed,Bath,SQFT,Type
0,"$1,625,000","411 PATTERSON BLVD SW, Calgary, AB, T3H 3N6",C4176302,4 bed|3.1 bath|3724 sqft|house
1,"$550,000","2635 34 ST SW, Calgary, AB, T3E 2W6",C4170887,3 bed|2 bath|1095 sqft|house
5,"$589,900","278 MASTERS AVE SE, Calgary, AB, T3M 2C1",C4162838,4 bed|3.1 bath|2033 sqft|house
6,"$1,200,000","1920 12 AVE SW, Sunalta, Calgary, AB, T3C 0R8",C4161758,3 bed|8 bath|2241 sqft|house
7,"$379,000","32 MARTIN CROSSING CRES NE, Martindale, Calgar...",C4142534,4 bed|3 bath|1438 sqft|house

In [43]:
data4.columns = ['Bed_1', 'Address', 'MLS', 'Details']

In [44]:
data5 = data2['Bed'].str.replace('$','')
data5.head()

0     1,625,000
1       550,000
5       589,900
6     1,200,000
7       379,000
Name: Bed, dtype: object

In [45]:
all_data_1 = pd.concat([data5, data4, data3], axis=1, sort=False)
all_data_1.head()

,Bed,Bed_1,Address,MLS,Details,0,1,2,3
0,"1,625,000","$1,625,000","411 PATTERSON BLVD SW, Calgary, AB, T3H 3N6",C4176302,4 bed|3.1 bath|3724 sqft|house,4 bed,3.1 bath,3724 sqft,house
1,"550,000","$550,000","2635 34 ST SW, Calgary, AB, T3E 2W6",C4170887,3 bed|2 bath|1095 sqft|house,3 bed,2 bath,1095 sqft,house
5,"589,900","$589,900","278 MASTERS AVE SE, Calgary, AB, T3M 2C1",C4162838,4 bed|3.1 bath|2033 sqft|house,4 bed,3.1 bath,2033 sqft,house
6,"1,200,000","$1,200,000","1920 12 AVE SW, Sunalta, Calgary, AB, T3C 0R8",C4161758,3 bed|8 bath|2241 sqft|house,3 bed,8 bath,2241 sqft,house
7,"379,000","$379,000","32 MARTIN CROSSING CRES NE, Martindale, Calgar...",C4142534,4 bed|3 bath|1438 sqft|house,4 bed,3 bath,1438 sqft,house

In [46]:
all_data_2 = all_data_1.drop(['Bed_1','Details'], axis=1)
all_data_2.head()

,Bed,Address,MLS,0,1,2,3
0,"1,625,000","411 PATTERSON BLVD SW, Calgary, AB, T3H 3N6",C4176302,4 bed,3.1 bath,3724 sqft,house
1,"550,000","2635 34 ST SW, Calgary, AB, T3E 2W6",C4170887,3 bed,2 bath,1095 sqft,house
5,"589,900","278 MASTERS AVE SE, Calgary, AB, T3M 2C1",C4162838,4 bed,3.1 bath,2033 sqft,house
6,"1,200,000","1920 12 AVE SW, Sunalta, Calgary, AB, T3C 0R8",C4161758,3 bed,8 bath,2241 sqft,house
7,"379,000","32 MARTIN CROSSING CRES NE, Martindale, Calgar...",C4142534,4 bed,3 bath,1438 sqft,house

In [47]:
all_data_2.columns = ['Cost', 'Address', 'MLS', 'Bedrooms', 'Bathrooms', 'Area', 'Type']
all_data_2.head()

,Cost,Address,MLS,Bedrooms,Bathrooms,Area,Type
0,"1,625,000","411 PATTERSON BLVD SW, Calgary, AB, T3H 3N6",C4176302,4 bed,3.1 bath,3724 sqft,house
1,"550,000","2635 34 ST SW, Calgary, AB, T3E 2W6",C4170887,3 bed,2 bath,1095 sqft,house
5,"589,900","278 MASTERS AVE SE, Calgary, AB, T3M 2C1",C4162838,4 bed,3.1 bath,2033 sqft,house
6,"1,200,000","1920 12 AVE SW, Sunalta, Calgary, AB, T3C 0R8",C4161758,3 bed,8 bath,2241 sqft,house
7,"379,000","32 MARTIN CROSSING CRES NE, Martindale, Calgar...",C4142534,4 bed,3 bath,1438 sqft,house

In [48]:
all_data_3 = all_data_2.replace(' bed','', regex=True)
all_data_4 = all_data_3.replace(' bath','', regex=True)
all_data_5 = all_data_4.replace(' sqft','', regex=True)
all_data_5.head()

,Cost,Address,MLS,Bedrooms,Bathrooms,Area,Type
0,"1,625,000","411 PATTERSON BLVD SW, Calgary, AB, T3H 3N6",C4176302,4,3.1,3724,house
1,"550,000","2635 34 ST SW, Calgary, AB, T3E 2W6",C4170887,3,2,1095,house
5,"589,900","278 MASTERS AVE SE, Calgary, AB, T3M 2C1",C4162838,4,3.1,2033,house
6,"1,200,000","1920 12 AVE SW, Sunalta, Calgary, AB, T3C 0R8",C4161758,3,8,2241,house
7,"379,000","32 MARTIN CROSSING CRES NE, Martindale, Calgar...",C4142534,4,3,1438,house

In [49]:
all_data_5.shape

(870, 7)

In [51]:
all_data_5.Type.value_counts()

house        504
condo        230
townhouse    130
Name: Type, dtype: int64

In [35]:
all_data_5.to_csv('CalgaryRealEstate.csv')

In [26]:
import numpy as np
import pandas as pd
import pyodbc
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-Q1QKHGM\SQLEXPRESS;'
                      'Database=DSTRAINING;'
                      'Trusted_Connection=yes;')

In [29]:
selectQuery = 'SELECT * FROM DSTRAINING.[dbo].[WRK_CalgaryRealEstate_20190924]'
df = pd.read_sql(selectQuery, conn)
df.head()

,RowNumber,Cost,Address,MLS,Bedrooms,Bathrooms,Area,Type
0,1,1625000,"411 PATTERSON BLVD SW, Calgary, AB, T3H 3N6",C4176302,4,3.1,3724,house
1,2,550000,"2635 34 ST SW, Calgary, AB, T3E 2W6",C4170887,3,2.0,1095,house
2,3,589900,"278 MASTERS AVE SE, Calgary, AB, T3M 2C1",C4162838,4,3.1,2033,house
3,4,1200000,"1920 12 AVE SW, Sunalta, Calgary, AB, T3C 0R8",C4161758,3,8.0,2241,house
4,5,379000,"32 MARTIN CROSSING CRES NE, Martindale, Calgar...",C4142534,4,3.0,1438,house

In [30]:
df.describe()

        RowNumber          Cost    Bedrooms   Bathrooms         Area
count  680.000000  6.800000e+02  680.000000  680.000000   680.000000
mean   340.500000  7.027997e+05    3.108824    2.327647  1620.970588
std    196.443376  7.459890e+05    1.365441    1.054816   875.713186
min      1.000000  9.975000e+04    0.000000    0.100000   338.000000
25%    170.750000  3.200000e+05    2.000000    2.000000  1002.500000
50%    340.500000  4.999000e+05    3.000000    2.100000  1410.500000
75%    510.250000  7.880000e+05    4.000000    3.100000  2049.000000
max    680.000000  7.950000e+06   11.000000    8.000000  5327.000000

----

### **Testing**

In [28]:
url_1 = 'https://www.remax.ca/ab/calgary-real-estate/720-37-st-nw-wp_id251536557-lst'
def parse_1(url_1):
    html = requests.get(url_1)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    df_1 = pd.DataFrame(columns=['a1', 'a2', 'a3'])
    for each in soup.find_all('section', {'class' : 'property-details'} ):
        try: 
            a1 = each.find('div', {'class' : 'detail'}).text.replace('\n', '')
        except:
            a1 = 'None'
        try: 
            a2 = each.find('div', {'class' : 'collapsible-details'}).text.replace('\n', '')
        except:
            a2 = 'None'
        try: 
            a3 = each.find('div', {'class' : 'detail-wrapper ng-star-inserted'}).text.replace('\n', '')
        except:
            a3 = 'None'
       
        df_1 = df_1.append({'a1':a1, 'a2':a2, 'a3':a3}, ignore_index=True)
    return df_1
df_1 = parse_1(url_1)
df_1

,a1,a2,a3
0,DetailsProperty Type: DuplexProperty Tax: N/AL...,InsideHeating: Forced Air-1Heating Source: Nat...,None

In [15]:
#df_1.to_csv('test.csv')

# Testing Walkscore Score

In [32]:


postal_code = input("Please enter your postal code: ")
if len(postal_code) != 7:
    print ("Error! Only 7 characters allowed! Please use the correct format")

Please enter your postal code: T2V 2L4

In [33]:
postal_code = postal_code.replace(" ", "%20")

In [52]:
url = "https://www.walkscore.com/score/" + str(postal_code)
print(url)

https://www.walkscore.com/score/T2V%202L4

# Code Starts here

In [106]:
post_code_list = []

for i in data_dump1_test[1]:
    post_code_list.append(i)
    
post_code_list

['T2W 4V6',
 'T2V 0P7',
 'T2G 0B5',
 'T3J 0A1',
 'T3G 2T7',
 'T3H 3S3',
 'T2R 0S5',
 'T2N 3E1',
 'T3H 0C9',
 'T3G 1V6',
 'T3H 0L1',
 'T3N 1T2',
 'T2C 0Z3',
 'T2V 2L4',
 'T3E 6N7',
 'T3G 5Y4',
 'T2K 1A2',
 'T2W 0A4',
 'T3B 0H8',
 'T2L 0G2',
 'T2W 4V6',
 'T2V 0P7',
 'T2G 0B5',
 'T3J 0A1',
 'T3G 2T7',
 'T3H 3S3',
 'T2R 0S5',
 'T2N 3E1',
 'T3H 0C9',
 'T3G 1V6',
 'T3H 0L1',
 'T3N 1T2',
 'T2C 0Z3',
 'T2V 2L4',
 'T3E 6N7',
 'T3G 5Y4',
 'T2K 1A2',
 'T2W 0A4',
 'T3B 0H8',
 'T2L 0G2']

In [107]:
score_list = []

for i in post_code_list:
    postal_code = i.replace(" ", "%20")
    url = "https://www.walkscore.com/score/" + str(postal_code)
    
    executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
    browser = Browser("chrome", **executable_path, headless = True)
    
    browser.visit(url)
#     time.sleep(2)
    
    # HTML Object
    code_html = browser.html

    # Parse HTML with Beautiful Soup
    code_soup = BeautifulSoup(code_html, 'html.parser')
    
    walk_score1 = code_soup.find_all('div', class_='clearfix score-div')
    time.sleep(1)
    
    walk_score_list = []

    for j in walk_score1:
        walk_score_list.append(j.img['alt'])
    
        scores = []
        
        for k in walk_score_list:
            number = k.split(" ")[0]
            scores.append(number)
    
    
    score_list.append(scores)

In [108]:
print(score_list)

[['38', '25', '66'], ['71', '62', '72'], ['87', '74', '94'], ['37', '56', '72'], ['12', '37', '55'], ['37', '38', '73'], ['90', '68', '94'], ['92', '75', '99'], ['53', '34', '76'], ['41', '37', '65'], ['11', '56', '71'], ['0', '18', '26'], ['34', '47', '70'], ['57', '62', '89'], ['64', '44', '81'], ['31', '29', '46'], ['25', '53', '79'], ['49', '59', '57'], ['45', '41', '67'], ['57', '58', '73'], ['38', '25', '66'], ['71', '62', '72'], ['87', '74', '94'], ['37', '56', '72'], ['12', '37', '55'], ['37', '38', '73'], ['90', '68', '94'], ['92', '75', '99'], ['53', '34', '76'], ['41', '37', '65'], ['11', '56', '71'], ['0', '18', '26'], ['34', '47', '70'], ['57', '62', '89'], ['64', '44', '81'], ['31', '29', '46'], ['25', '53', '79'], ['49', '59', '57'], ['45', '41', '67'], ['57', '58', '73']]

In [109]:
score_df = pd.DataFrame(score_list, columns=['Walk Score', 'Transit Score', 'Bike Score'])
score_df.head()

  Walk Score Transit Score Bike Score
0         38            25         66
1         71            62         72
2         87            74         94
3         37            56         72
4         12            37         55

In [104]:
# copy_dd_test = data_dump1_test.copy()
# copy_dd_test.head()

                           0        1
0  21 - 64 WOODACRES CRES SW  T2W 4V6
1    808 - 8710 HORTON RD SW  T2V 0P7
2       3406 - 210 15 AVE SE  T2G 0B5
3       275 TARALAKE TERR NE  T3J 0A1
4        111 HAWKHILL CRT NW  T3G 2T7

In [110]:
copy_dd_test = data_dump1_test.copy()
new_df = pd.concat([copy_dd_test, score_df], axis=1)
new_df.head()

                           0        1 Walk Score Transit Score Bike Score
0  21 - 64 WOODACRES CRES SW  T2W 4V6         38            25         66
1    808 - 8710 HORTON RD SW  T2V 0P7         71            62         72
2       3406 - 210 15 AVE SE  T2G 0B5         87            74         94
3       275 TARALAKE TERR NE  T3J 0A1         37            56         72
4        111 HAWKHILL CRT NW  T3G 2T7         12            37         55

https://www.walkscore.com/score/t2m%202c7